name: zubo

on:
  schedule:
    - cron: '0 7,19 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 必须要有写入权限

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        persist-credentials: true  # 关键配置！
        fetch-depth: 0  # 获取完整历史记录

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y yt-dlp sed nmap
      
    - name: 获取组播地址
      run: |
        cd $GITHUB_WORKSPACE
        bash ./zubo2.sh

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: run 去重py
      run: python ${{ github.workspace }}/去重.py
      
    - name: 更新组播源
      run: |
        cd $GITHUB_WORKSPACE
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
        git add .
        git commit -m "自动更新组播源 [skip ci]"
        git pull --rebase origin main  # 防止冲突
        git push origin HEAD:main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # 显式传递令牌
